<div class="container">
  <%= render 'form' %>
  <div class="main">
    <h4>ささやき一覧</h4>
    <table class="table table-striped">
    <% @chats.each do |chat| %>
      <tr>
        <th><%= chat.content %></th>
      </tr>
      <tr>
        <td>
          <div class="operators">
            <%= link_to "しゃべりなおす", edit_chat_path(chat.id), class:"btn-operate btn-primary" %>
            <%= link_to "発言を取り消す", chat_path(chat.id), method: :delete, data: {confirm: "本当に削除しますか？"}, class:"btn-operate btn-danger" %>
          </div>
        </td>
      </tr>
    <% end %>
    </table>
  </div>
</div>
