<section class="info-header">
</section>
<section class="about">
  <h2>アプリケーションについて</h2>
  <p>
  本アプリケーションは、DIVE INTO CODEの課題の一つとして、作成したTwitterのようなものです。<br>
  名前はかわいいかもとChatterにしてみましたが、<%= link_to "同名のサービス", "https://www.salesforce.com/jp/products/chatter/overview/" %>がすでにありました笑<br>
  しかも株式会社セールスフォース・ドットコムのサービスだったとは全くの勉強不足でした。。。
  </p>
  <p>
  おしゃべりのようなイメージで気軽になんでも投稿してもらうと嬉しいです。
  </p>
</section>
