<section class='info-header'>
  <h1 class="chatter-info">Chatterへようこそ！</h1>
</section>
<div class='container'>
  <section class='about'>
    <h1>アプリケーションについて</h1>
    <p>
    本アプリケーションは、DIVE INTO CODEの課題として、作成したTwitter-cloneです。<br>
    名前はなんとなくChatterにしてみましたが、<%= link_to '同名のサービス', 'https://www.salesforce.com/jp/products/chatter/overview/' %>がすでにありました笑。<br>
    しかも株式会社セールスフォース・ドットコムのサービスだったとは全くの勉強不足でした。お恥ずかしい。<br>
    </p>
    <p>
    肩肘張らずに気軽にチャットができるアプリとして活用いただければ嬉しく思います。<br>
    いずれにせよ人生初アプリなので、なんとなく愛着はあります笑。<br>
    </p>
  </section>
</div>
